.resultBox{
    height: 345px;
    width: 725px;
    background-image: linear-gradient(to right,#a4c5aa,#2dfc2a);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
.resultBox:hover{
    background-image: linear-gradient(to right,#6b8870,#2dfc2a);
}